BEGIN;
--
-- Create model TipoEvento
--
CREATE TABLE "tipo_evento" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nome" varchar(100) NOT NULL, "descricao" text NULL, "data_criacao" datetime NOT NULL, "data_atualizacao" datetime NOT NULL);
--
-- Create model Evento
--
CREATE TABLE "evento" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "titulo" varchar(200) NOT NULL, "descricao" text NOT NULL, "data_inicio" date NOT NULL, "data_fim" date NOT NULL, "horario" varchar(50) NOT NULL, "local" varchar(200) NOT NULL, "vagas" integer unsigned NOT NULL CHECK ("vagas" >= 0), "criado_em" datetime NOT NULL, "atualizado_em" datetime NOT NULL, "organizador_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "TIPO_id" bigint NOT NULL REFERENCES "tipo_evento" ("id") DEFERRABLE INITIALLY DEFERRED);
--
-- Create model Inscricao
--
CREATE TABLE "inscricao" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "criado_em" datetime NOT NULL, "evento_id" bigint NOT NULL REFERENCES "evento" ("id") DEFERRABLE INITIALLY DEFERRED, "participante_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
--
-- Create model Certificado
--
CREATE TABLE "certificado" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "emitido_em" datetime NOT NULL, "codigo_validacao" varchar(64) NOT NULL UNIQUE, "inscricao_id" bigint NOT NULL UNIQUE REFERENCES "inscricao" ("id") DEFERRABLE INITIALLY DEFERRED);
--
-- Create model PerfilUsuario
--
CREATE TABLE "perfil_usuario" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "telefone" varchar(20) NOT NULL, "instituicao" varchar(150) NOT NULL, "perfil" varchar(12) NOT NULL, "user_id" integer NOT NULL UNIQUE REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "evento_organizador_id_41fabe6f" ON "evento" ("organizador_id");
CREATE INDEX "evento_TIPO_id_50ed8b2d" ON "evento" ("TIPO_id");
CREATE UNIQUE INDEX "inscricao_participante_id_evento_id_db84e701_uniq" ON "inscricao" ("participante_id", "evento_id");
CREATE INDEX "inscricao_evento_id_77ef497b" ON "inscricao" ("evento_id");
CREATE INDEX "inscricao_participante_id_2f6d1a0b" ON "inscricao" ("participante_id");
COMMIT;
