{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SGEA</title>

  <link rel="stylesheet" href="{% static 'sgeaweb/css/main.css' %}">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css">
</head>
<body>
  <header>
    <h1>SGEA</h1>
    <nav>
      <a href="{% url 'home' %}">Home</a>
      {% if user.is_authenticated %}
        <a href="{% url 'minhas_inscricoes' %}">Minhas inscrições</a>
        {% if user.perfil.perfil == 'ORGANIZADOR' %}
          <a href="{% url 'evento_list' %}" class="btn-link">Meus eventos</a>
        {% endif %}
        <a href="{% url 'logout' %}">Sair</a>
      {% else %}
        <a href="{% url 'login' %}">Entrar</a>
        <a href="{% url 'cadastro' %}">Cadastro</a>
      {% endif %}
    </nav>
  </header>

  {% for message in messages %}
    <p class="msg">{{ message }}</p>
  {% endfor %}

  <main>
    {% block content %}{% endblock %}
  </main>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>
  <script src="{% static 'sgeaweb/js/forms.js' %}"></script>
</body>
</html>
